* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
:root {
    --white: #FFFFFF;
    --accent:#8428F8;
    --blue-1:#141C3A;
    --blue-2:#535E88;
    --blue-3:#DCDCDE;
    --blue-4:#F9FBFD;
}
body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.nav-h1 {
    font-weight: 900;
    font-size: 26px;
}
li, a {
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: var(--blue-1);
}
.violet {
    font-weight: 900;
    color: var(--accent);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* 960 de largeur */