* {
    margin: 0;
    padding: 0;
}
:root {
    --white: #FFFFFF;
    --accent:#8428F8;
    --blue-1:#141C3A;
    --blue-2:#535E88;
    --blue-3:#DCDCDE;
    --blue-4:#F9FBFD;
    --border-line:#E5EBF2;
}
/* Span violet */
.violet {
    font-weight: 900;
    color: var(--accent);
}

body {
    font-family: 'Roboto', sans-serif;
}
/* TYPOGRA */

 /* NAV BAR */
 header {
    padding: 50px 0px;
    border-bottom: 1px solid var(--border-line);
 }
.nav-content {
    max-width: 944px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myname-nav {
    font-weight: 900;
    font-size: 26px;
}

.nav_links li, a {
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    color: var(--blue-1);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.25s ease-in-out;
}
.nav_links li a:hover {
    color:var(--accent)
}

/* PERSONAL INTRODUCTION */
.personal-introduction {
    margin-top: 113px;
    margin-bottom: 132px;
}
.personal-introduction .introduction {
    text-align: center;
}
.image-head {
    margin-top: 80px;
}
.information {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.phone {
    text-align: end;
    width: 120px;
}
.mail {
    text-align: start;
    width: 120px;
}
.line {
    margin: 0px 20px 0px 20px;
    border-left: 1px solid var(--blue-3);
    display: block;
    height: 27px;    
}


/* PERSONAL DESCRIPTION */

.personal-description {
    background-color: var(--blue-4);
    padding-top: 154px;
    padding-bottom: 144px;
}
.description {
    text-align: center;
    max-width: 610px;
}

/* EXPERIENCE */

.experience .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}