* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-page:#FFFFFF;
    --white: #FFFFFF;
    --accent:#8428F8;
    --blue-1:#141C3A;
    --blue-2:#535E88;
    --blue-3:#DCDCDE;
    --blue-4:#F9FBFD;
    --blue-5:#1D274F;
    --burple-100:#2407D8;
    --burple-200:#5034FF;
    --border-line:#E5EBF2;
    --bg-progressbar: #DFE5EB;
    --clr-contact-txt:rgb(26, 26, 26);
}

.dark {
    --bg-page:#141C3A;
    --white: #FFFFFF;
    --accent:#8428F8;
    --blue-1:#F9FBFD;
    --blue-2:#F9FBFD;
    --blue-3:#DCDCDE;
    --blue-4:#1D274F;
    --blue-5:#1D274F;
    --burple-100:#2407D8;
    --burple-200:#5034FF;
    --border-line:#E5EBF2;
    --bg-progressbar: #535E88 ;
    --clr-contact-txt:hsla(210, 50%, 98%, 1);
    ;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-display: swap;
}
body {
    background-color: var(--bg-page);
}



/* ==== decoration ==== */

.dot {
    -webkit-print-color-adjust: exact;

    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: var(--accent);
}

.line {
    -webkit-print-color-adjust: exact;
    display: block;
    width: 1px;
    height: 1px;
    background-color:var(--blue-3);
}

.short-line {
    height: 27px;
    margin: 19px;
}

.long-line {
    height: 224px;
    margin: 4.5px;
    margin-top: 11px;
    margin-bottom: 11px;
}


/* ====== TYPOGRAPHIE ====== */

/* Span violet */
.violet {
    color: var(--accent);
}


/* == TITLE == */
.title01 {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: var(--blue-1);
}

.title02 {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    color: var(--blue-1);
}
.title02-white {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    color: var(--white);
}
.title03 {
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
}

.title-section {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 44px;
    border-bottom: 1px solid var(--border-line);
    max-width: 80%;
    margin: 0 auto;
}


/* == PARAGRAPH == */
.paragraph01 {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: var(--blue-1);
}
.paragraph01-white {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
}
.paragraph02 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: var(--blue-1);
}
.paragraph03 {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: var(--blue-2);
}

.paragraph04 {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: var(--clr-contact-txt);
}

/*  double border of title-section  */

.double-border {
    border-top: 1px solid var(--border-line);
}
/* text align */

.text-align-center {
    text-align: center;
}
.text-align-end {
    text-align: end;
}
.text-align-start {
    text-align: start;
}


 /* ====== NAV BAR ====== */
 header {
    padding: 50px 0px;
    border-bottom: 1px solid var(--border-line);
 }
.nav-content {
    max-width: 976px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav_links li, a {
    text-decoration: none;
    color: var(--blue-1);
    transition: all 0.25s ease-in-out;
}
.nav_links li a:hover {
    color:var(--accent)
}

/* ===== PERSONAL INTRODUCTION ====== */
.personal-intro {
    margin-top: 113px;
    margin-bottom: 132px;
}
.personal-intro .introduction {
    text-align: center;
    margin: 0 28px 0 28px;
}
.image-head {
    margin-top: 80px;
}
.information {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone,
.email {
    width: 10em;
}




/* ==== PERSONAL DESCRIPTION ==== */

.personal-description {
    background-color: var(--blue-4);
    padding-top: 154px;
    padding-bottom: 144px;
}
.personal-description .description {
    max-width: 609px;
    margin: 0 auto;
    text-align: center;
}
.personal-description .description > h1 {
    margin-bottom: 29px;
}
.personal-description .description > p {
   line-height: 30px;
}


/* ==== EXPERIENCE ====*/

.experience .container {
    max-width: 938px;
    padding: 120px 28px 0px 28px;
    margin: 0 auto;
}

.experience .container .component {
    display: grid;
    grid-auto-columns: 1fr 178px 1fr;
    grid-auto-rows: 30px auto;
}

.experience .container .component .decoration {
    margin: 0 auto;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.experience .container .component .decoration .dot {
    margin-top: 8px;
}

.experience .container .component .date {
    grid-column-start: 1;
    grid-row-start: 1;
}

.experience .container .component .job-name {
    grid-column-start: 1;
    grid-row-start: 2;
    
}

.experience .container .component .job-platform {
    grid-column-start: 3;
    grid-row-start: 1;
}

.experience .container .component .description-job {
    grid-column-start: 3;
    grid-row-start: 2;
}

.experience .container .component:last-child .line {
    background: none;
}






/* ===== SKILLS ====== */

.skills .skills-container {
    display: flex;
    gap: 51px;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
}


.skills .skills-container .left,
.skills .skills-container .right {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}
.skills .skills-container .bar-content {
    display: flex;
    align-items: center;
    gap: 12px;
}
 
progress {
    -webkit-appearance: none;
    height: 8px;
    width: 334px;
}
progress::-webkit-progress-bar {
    background-color: var(--bg-progressbar);
    border-radius: 100px;
}
progress::-webkit-progress-value {
    border-radius: 100px;
    background-color: var(--accent);
}
  





/* ===== Education ===== */ 
.education {
    background-color: var(--blue-4);
}

.education .container {
    padding: 120px 0 120px 0;
    display: flex;
    margin: 0 auto;
    max-width: 1343px;
    gap: 31px;
}
.education .container .decoration {
    display: flex;
    align-items: center;
    padding: 35px 0px 35px 0;
}
.education .container .decoration .line {
    width: 360px;
    margin-left: 31px;
}
.education .container .job, 
.education .container .description{
    margin-top: 13px; 
}



/* ====== PROJECTS ===== */

.projects .container {
    max-width: 1158px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    margin: 0 auto;
    padding: 95px 0 120px 0;
}

.projects .container > * {
    cursor: pointer;
}

.projects .container .element {
    position: relative;
}
.projects .container .element .overlay {
    position: absolute;
    height: 99%;
    width: 100%;
    inset:0;
    background: var(--accent);
    filter: opacity(0.9);
    border-radius: 11px;
    transition: 0.250s ease;
    opacity: 0;
}
.projects .container .element:hover .overlay {
    opacity: 1;
}

.projects .container .element .overlay-content {
    position: absolute;
    bottom: 20px;
    color: #FFFFFF;
    padding-left: 22px;
    padding-right:99px;
} 

/* ===== CONTACT ===== */

.contact .container {
    max-width: 1158px;
    padding: 120px 28px 167px 28px;
    margin: 0 auto;
}
.contact .container .form {
    padding-bottom: 24px;
    display: grid;
    gap: 24px 48px;
    grid-template-columns: 261 repeat(3, 1fr);
    grid-template-areas: 
    "civ name name name"
    "ad  ad   ad   ad"
    "tit tit  tit  tit"
    "msg msg  msg  msg";
}

.contact .container .form .civilite {
    grid-area: civ;
    position: relative;
}

.contact .container .form .user-name {
    grid-area: name;
}

.contact .container .form .mail {
    grid-area: ad;
}

.contact .container .form .msg-title {
    grid-area: tit;
}

.contact .container .form .msg {
    grid-area: msg;
}

.contact .container .form input {
    width: 100%;
    height: 59px;
}

.contact .container .form textarea {
    width: 100%;
    height: 230px;
}

/* civilite arrow icon */

.contact .container .form select {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contact .container .form input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.contact .container .form .icon-arrow {
    position: absolute;
    right: 38px;
    content: ' ';
    width: 17px;
    height: 17px;
    background: url(../icon/Icon-Arrow-down.svg) no-repeat;
    cursor: pointer;
    pointer-events: none;
}

/* contact input and label */

.contact .container .form .icon-input {
    display: flex;
    align-items: center;
}

.contact label:after {
    content: ' * ';
}

.contact .container .form input[type=text],
.contact .container .form input[type=email],
.contact .container .form textarea {
    border-radius: 4px;
    border: 1px solid hsla(0, 0%, 58%, 1);
    padding: 20px 12px 20px 12px;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    transition: 125ms e;
}


.contact .container .form input:not(:focus):hover,
.contact .container .form textarea:not(:focus):hover {
    border: 2px solid hsla(0, 0%, 46%, 1);
}

.contact .container .form input:focus, 
.contact .container .form textarea:focus {
    border: 1px solid #5640d4;
}

/* .error-msg {
    opacity: 1;
} */

/* input error or disabled */

.contact .container .form .icon {
    display: inline-block;
    opacity: 0;
    width: 17px;
    height: 17px;
    margin-left: 8px;
    background: url(../icon/Icon-warning.svg) no-repeat;
}


.contact .container .form input:not(:placeholder-shown):invalid {
    border: 1px solid red;
}

.contact .container .form input:not(:placeholder-shown):invalid + .icon {
    border: 1px solid red;
}

/* contact button */

.contact .container button {
    width: 130px;
    height: 70px;
    border-radius: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    transition: all ease-in-out 125ms;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: var(--white);
    background-color: var(--burple-200);
    border: none;
}
.contact .container button:hover,
.contact .container button:focus {
    background-color: var(--burple-100);
}


/* ===== FOOTER ===== */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-4);
    height: 540px;
}
.footer .lien-cv {
    text-decoration: underline;
    color: var(--accent);
}



/*  ====================== MEDIA ====================== */

/* ======= BREAK POINT ======= */

@media screen and (max-width:1250px) {
    .education .container {
        flex-direction: column;
        max-width: 450px;
    }

    .education .container .component {
        display: grid;
        grid-template-columns: 9px 105px 350px;
        grid-auto-rows: 35px 35px 270px;
    }

    .education .container .component .decoration {
        display: initial;
        margin: 0 auto;
        padding: 0;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .education .container .component .decoration .dot {
        margin-top: 10px;
    }
    .education .container .component .decoration .line {
        width: 1px;
        height: 224px;
        margin: 0 auto;
        margin-top: 15px;
    }

    .education .container .component .date {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 0 15px 0 20px;
    }

    .education .container .component .job {
        grid-column-start: 3;
        grid-row-start: 1;
        
    }

    .education .container .component .place {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .education .container .component .description {
        grid-column-start: 3;
        grid-row-start: 3;
    }
}

@media screen and (max-width:900px) {
    /* ==== SKIL ===== */
    .skills .skills-container {
        flex-direction: column;
        max-width: 380px;
        gap: 19px;
        margin: 0 auto;
    }

}

@media screen and (max-width:750px) {
    .nav_links {
        display: none;
    }
    .nav-content {
        justify-content: center;
    }
}


/* ------ MOBILE ------ */
@media screen and (max-width: 500px) {

    /* remove text align */
    .text-align-end,
    .text-align-start {
        text-align: initial;
    }

    /* ==== EXPERIENCE ==== */

    .experience .container {
        max-width: 380px;
    }
    
    .experience .container .component {
        grid-auto-columns: 9px 85px 245px;
        grid-auto-rows: 30px 30px 270px;
    }
    
    .experience .container .component .decoration {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .experience .container .component .date {
        margin:0 15px 0 15px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .experience .container .component .job-name {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    
    .experience .container .component .job-platform {
        grid-column-start: 3;
        grid-row-start: 2;
    }
    
    .experience .container .component .description-job {
        grid-column-start: 3;
        grid-row-start: 3;
    }

    /* ==== CONTACT ==== */
    .contact .container .form {
        grid-template-areas: 
        "civ civ civ civ"
        "name name name name"
        "ad  ad   ad   ad"
        "tit tit  tit  tit"
        "msg msg  msg  msg";
    }
}

@media print {
    section {
      break-inside: avoid;
    }
    nav, footer, .overlay {
        display: none;
    }
    .footer, .education {
        background-color: var(--bg-page);
    }
  }